<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">

    <link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css'>
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>
    <section class="header1">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid mycontainer">
              <a class="navbar-brand" href="#">
                <img src="images/logo.jpg" alt="">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse mynavbar " id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 mynavitems">
                  <li class="nav-item">
                    <a class="nav-link active item" aria-current="page" href="C:\Users\Admin\Desktop\Nasksoft\home.html">Home</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link item" href="C:\Users\Admin\Desktop\Nasksoft\digital-design.html">Digital Design</a>
                  </li>
                 
                  <li class="nav-item">
                    <a class="nav-link  item" href="C:\Users\Admin\Desktop\Nasksoft\marketing.html" aria-disabled="true">Digital Marketing</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link  item" href="C:\Users\Admin\Desktop\Nasksoft\development.html" aria-disabled="true">custome Development</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link item" href="C:\Users\Admin\Desktop\Nasksoft\case-studies.html" aria-disabled="true">Case Studies</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link  item" href="C:\Users\Admin\Desktop\Nasksoft\about-us.html" aria-disabled="true">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link item btn btn-primary navbtn" href="C:\Users\Admin\Desktop\Nasksoft\contact.html" aria-disabled="true">contact us</a>
                  </li>
                </ul>
                
              </div>
            </div>
        </nav>
        <div class="container-fluid  mycontainer">
          <div class=" row headercard">
            <div class="col-md-6">
                <div class=" heading left-content" >
                  <h3>Expert &nbsp; <span class="solution-anim"> IT SERVICES</span> <br>
                    For Your Growing Business</h3>

                <p>NaskSoft provides comprehensive IT solutions to help you stay ahead of the curveLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                <button class="btn ">Contact Us
                  <img src="images/btnarrow.png" alt="">
                </button>

                <div class="images-content">
                  <!-- <img src="images/blink1.png" alt=""> -->
                  <div class="blinkcircl0"> 
                  </div>
                  <div class="blinkcircl1"> 
                  </div>
                  <div class="blinkcircl2">   
                  </div>
                </div>

                </div>

            </div>
            <div class="col-md-6 hmimg1">
              <img src="images/hmimg1.png" alt="">

            </div>

          </div>

        </div>
    </section>
    
    <section class="hmsection2">
        <div class="container-fluid mycontainer">
          <div class="row hmsec2r1 ">
            <div class="col-md-6 hmsec2col1">
              <div class="hmsec2images">
                <img class="lapimg" src="images/laptopimg.png" alt="">
                <img class="powerbtn" src="images/powerbtn.png" alt="">
                <img class="ellipse30" src="images/Ellipse 30.png" alt="">
                <img class="ellipse32" src="images/Ellipse 32.png" alt="">
                <img class="ellipse31" src="images/Ellipse 31.png" alt=""> 
              </div>
  
            </div>
            <div class="col-md-6 hmsec2col2">
              <h3> <span class="nask">NaskSoft</span> is a development agency that specializes in helping businesses improve their online presence.</h3>
              <p>Our team of experts has years of experience in SEO, website design, and digital marketing. We are passionate about helping our clients succeed and we take pride in delivering high-quality work.</p>
  
            </div>
  
          </div>

        </div> 

        </div> 
        

    </section>

    <section calss="hmsection3">
      <div class="contain  mycarousel">
        <div class="hmsec3content mq414px mq992px">
          <img class="arrow1" src="images/arrow1.png" alt="">
          <img class="arrow2" src="images/arrow2.png" alt="">
         <span>OUR SERVICES</span>
         <h3>What We Offer For your<br>Business</h3>
        </div>
       <div id="owl-carousel" class="owl-carousel owl-theme ">
         <div class="item1">
           <img src="images/cardpic1.jpg" alt="">
           <div class="myitem">
            <h5>Custom Application<br> Development</h5>                         
           </div>
          <div class="myitem1">
            <img src="images/arrow.png" alt="">
          </div>
            <div class="myitem2">
              <img src="images/arrow.png" alt="">
            </div>
             <div class="myhoveritem">
              <h4>Software </br> Development</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
  
             </div>            
         </div>         
         <div class="item1 ">
           <img src="images/cardpic2.jpg" alt="">
           <div class="myitem">
            <h5>Custom Application<br> Development</h5>
         </div>
         <div class="myitem1">
          <img src="images/arrow.png" alt="">

         </div>
         <div class="myitem2">
          <img src="images/arrow.png" alt="">
        </div>
         <div class="myhoveritem">
          <h4>Software </br> Development</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

         </div>
         </div>
         <div class="item1  ">
           <img src="images/cardpic3.jpg" alt="">
           <div class="myitem">
            <h5>Custom Application<br> Development</h5>
         </div>
         <div class="myitem1">
          <img src="images/arrow.png" alt="">

         </div>
         <div class="myitem2">
          <img src="images/arrow.png" alt="">
        </div>
         <div class="myhoveritem">
          <h4>Software </br> Development</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

         </div>
         </div>
         <div class="item1 ">
           <img src="images/cardpic1.jpg" alt="">
           <div class="myitem">
            <h5>Custom Application<br> Development</h5>
         </div>
         <div class="myitem1">
          <img src="images/arrow.png" alt="">

         </div>
         <div class="myitem2">
          <img src="images/arrow.png" alt="">
        </div>
         <div class="myhoveritem">
          <h4>Software </br> Development</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

         </div>
         </div>
         <div class="item1 ">
           <img src="images/cardpic2.jpg" alt="">
           <div class="myitem">
            <h5>Custom Application<br> Development</h5>
         </div>
         <div class="myitem1">
          <img src="images/arrow.png" alt="">

         </div>
         <div class="myitem2">
          <img src="images/arrow.png" alt="">
        </div>
         <div class="myhoveritem">
          <h4>Software </br> Development</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
         </div>
         </div>
         <div class="item1 ">
           <img src="images/cardpic3.jpg" alt="">
           <div class="myitem">
            <h5>Custom Application<br> Development</h5>
         </div>
         <div class="myitem1">
          <img src="images/arrow.png" alt="">

         </div>
         <div class="myitem2">
          <img src="images/arrow.png" alt="">
        </div>
         <div class="myhoveritem">
          <h4>Software </br> Development</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
         </div>
         </div>
       </div>
     </div>

    </section>

    <section class="hmsection4">
      <div class="container-fluid  mycontainer">
        <div class="row hmsec4r1">
          <div class="col-md-5 hmsec4col1">
            <div class=" hmsec4content">
              <span>FEATURED PROJECTS</span>
              <h3>Our Case  Studies</h3>
             </div>
             <img src="images/shadow1.png" alt="">
          </div>
          <div class="col-md-6 hmsec4col2">
            <div class="child1">
              <div class="cld1card1">
                <img src="images/cardpic4.jpg" alt="">
                   <div class="cld1itm1 ">
                      <div class="parent-subcld">
                        <div class="itm1content">
                          <h6>Photography Studio Hub</h6>
                          <span>Photography, Studio Services and Market Place</span>
                          <h6>UI UX Design, React, PHP</h6>
      
                         </div>

                       </div>
                   </div>
              </div>
              <div class="cld1card1">
                <img src="images/cardpic4.jpg" alt="">
                <div class="cld1itm1">
                  <div class="itm1content">
                   <h6>Photography Studio Hub</h6>
                   <span>Photography, Studio Services and Market Place</span>
                   <h6>UI UX Design, React, PHP</h6>

                  </div>
                </div>
              </div>
            </div> 
            <div class="child2">
              <div class="cld1card1">
                <img src="images/cardpic4.jpg" alt="">
                <div class="cld1itm1">
                  <div class="itm1content">
                   <h6>Photography Studio Hub</h6>
                   <span>Photography, Studio Services and Market Place</span>
                   <h6>UI UX Design, React, PHP</h6>

                  </div>
                </div>
              </div>
              <div class="cld1card1 ">
                <img src="images/cardpic4.jpg" alt="">
                <div class="cld1itm1">
                  <div class="itm1content">
                   <h6>Photography Studio Hub</h6>
                   <span>Photography, Studio Services and Market Place</span>
                   <h6>UI UX Design, React, PHP</h6>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

    <section class="hmsection5">
      <div class="container-fluid  mycontainer">
        <div class="row hmsec5r1">
          <div class="col-md-4 hmsec5col1">
            <img src="images/shadow4.png" alt="">
            <div class=" hmsec5content0">
              <span>WHY CHOOSE US</span>
              <h3>We provide </br>
                better services </br>
                for your business</h3>
             </div>      

          </div>
          <div class="col-md-8 hmsec5col2 ausec5col2">
            <img class="shadow5" src="images/shadow5.png" alt="">
            <div class="hmsec5cld1">
              <img src="images/icon1.png" alt="">
              <div class="hmsec5content">
                <h3>Experience and Expertise</h3>
                <p>We have years of experience and experts in SEO services who are dedicated to providing you with top-notch service.</p>

              </div>

            </div>
            <div class="hmsec5cld1">
              <img src="images/icon2.png" alt="">
              <div class="hmsec5content">
                <h3>Experience and Expertise</h3>
                <p>We have years of experience and experts in SEO services who are dedicated to providing you with top-notch service.</p>

              </div>

            </div>
            <div class="hmsec5cld1">
              <img src="images/icon3.png" alt="">
              <div class="hmsec5content">
                <h3>Experience and Expertise</h3>
                <p>We have years of experience and experts in SEO services who are dedicated to providing you with top-notch service.</p>

              </div>

            </div>

          </div>

        </div>

      </div>

    </section>

    <section class="section3 hmsection6">
      <div class="sec3row1">
          <div class="sec3bgimg">
              <img class="vector2" src="images/Vector2.png" alt="">
              <img class="vector3" src="images/Vector 3.png" alt="">
          </div>
      </div>
      <div class="row sec3-content ">
          <div class="col-md-12 sec3r1col1">
            <div class="sec2contentarea">
              <div class="feature">
                 <span>Work Process</span>
              </div>
              <span class="span0"> How to get Started</span>
            </div>
            <div class="timeline">      
              <div class="history-tl-container">
              <ul class="tl">
                  <li class="tl-item li1" ng-repeat="item in retailer_history">
                    <div class="tlimages-content">
                      <div class="tlblinkcircl1">
                      </div>
                      <div class="tlblinkcircl2">   
                      </div>
                    </div>
                    <div class="timline-content">
                      <h4>Analysis</h4>
                      <p>
                          Before a contract is ever signed, we pop the hood on your business with a detailed appraisal of your SEO strategy. You get an in-depth report on what’s working, what’s not, and what opportunities we’ve found for serious growth
                      </p>

                  </div>                  
                  </li>
                  <li class="tl-item li2" ng-repeat="item in retailer_history">
                    <div class="tlimages-content">
                      <div class="tlblinkcircl1">
                      </div>
                      <div class="tlblinkcircl2">   
                      </div>
                    </div>
                    <div class="timline-content1">
                      <h4>Strategy</h4>
                      <p>
                          Before a contract is ever signed, we pop the hood on your business with a detailed appraisal of your SEO strategy. You get an in-depth report on what’s working, what’s not, and what opportunities we’ve found for serious growth
                      </p>
                  </div>                
                  </li>
                  <li class="tl-item li3" ng-repeat="item in retailer_history">
                    <div class="tlimages-content">
                      <div class="tlblinkcircl1">
                      </div>
                      <div class="tlblinkcircl2">   
                      </div>
                    </div>
                    <div class="timline-content">
                      <h4>Analysis</h4>
                      <p>
                          Before a contract is ever signed, we pop the hood on your business with a detailed appraisal of your SEO strategy. You get an in-depth report on what’s working, what’s not, and what opportunities we’ve found for serious growth
                      </p>
                  </div> 
                  </li>
                  <li class="tl-item li4" ng-repeat="item in retailer_history">
                    <div class="tlimages-content">
                      <div class="tlblinkcircl1">
                      </div>
                      <div class="tlblinkcircl2">   
                      </div>
                    </div>
                    <div class="timline-content1">
                      <h4>Strategy</h4>
                      <p>
                          Before a contract is ever signed, we pop the hood on your business with a detailed appraisal of your SEO strategy. You get an in-depth report on what’s working, what’s not, and what opportunities we’ve found for serious growth
                      </p>
                  </div>                  
                  </li> 
              </ul> 
             </div>
            </div>
          </div>
      </div>
      
    </section>

    <section class="hmsection7">
      <div class="container-fluid  mycontainer">
        <div class="row hmsec6r1">
          <div class="col-md-2">
            <div class="sec6textbox1">
              <h4>100%</h4>
            <span>Clietn Satisfaction</span>
            </div>
          </div>
          <div class="col-md-2">
            <div class="sec6textbox1">
              <h4>100%</h4>
            <span>Clietn Satisfaction</span>
            </div>
          </div>
          <div class="col-md-2">
            <div class="sec6textbox1">
              <h4>100%</h4>
            <span>Clietn Satisfaction</span>
            </div>
          </div>
          <div class="col-md-2">
            <div class="sec6textbox1">
              <h4>100%</h4>
            <span>Clietn Satisfaction</span>
            </div>
          </div>


        </div>

      </div>

    </section>

    <section class="hmsection8">
      <div class="container-fluid  mycontainer">
        <div class="row">
          <div class="col-md-4 col1">
            <div class="tmimages">
              <img class="tmicon1" src="images/tmicon1.jpg" alt="">
              <img class="tmicon2" src="images/tmicon2.jpg" alt="">
              <img class="tmicon3" src="images/tmicon3.jpg" alt="">
              <img class="tmicon4" src="images/tmicon4.jpg" alt="">
              <img class="tmicon5" src="images/tmicon5.jpg" alt="">
              <img class="tmicon6" src="images/tmicon6.jpg" alt="">
              <img class="tmicon7" src="images/tmicon7.jpg" alt="">
            </div>  
          </div>
          <div class="col-md-4 ">
            <div id="owl-carousel1" class="owl-carousel owl-theme">
              <div class="item">
                <div class="carasoule-content">
                  <span>TESTIMONIALS</span>
                  <h2>Trusted by Millions </br>
                    of customers</h2>
                    <div class="ratings-stars">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
      
                    </div>
                    <p>NaskSoft is a trusted for providing assistants. Initially their main objective was to ensure service they provide these people are loyal to their industry.</p>
      
                </div>
              </div>
              <div class="item">
                <div class="carasoule-content">
                  <span>TESTIMONIALS</span>
                  <h2>Trusted by Millions
                    of customers</h2>
                    <div class="ratings-stars">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
      
                    </div>
                    <p>NaskSoft is a trusted for providing assistants. Initially their main objective was to ensure service they provide these people are loyal to their industry.</p>
      
                </div>
              </div>
              <div class="item">
                <div class="carasoule-content">
                  <span>TESTIMONIALS</span>
                  <h2>Trusted by Millions
                    of customers</h2>
                    <div class="ratings-stars">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
      
                    </div>
                    <p>NaskSoft is a trusted for providing assistants. Initially their main objective was to ensure service they provide these people are loyal to their industry.</p>
      
                </div>
              </div>
             
            </div>
      
          </div>
          <div class="col-md-4 col1">
            <div class="tmimages">
              <img class="tmicon1" src="images/tmicon1.jpg" alt="">
              <img class="tmicon2" src="images/tmicon2.jpg" alt="">
              <img class="tmicon3" src="images/tmicon3.jpg" alt="">
              <img class="tmicon4" src="images/tmicon4.jpg" alt="">
              <img class="tmicon5" src="images/tmicon5.jpg" alt="">
              <img class="tmicon6" src="images/tmicon6.jpg" alt="">
              <img class="tmicon7" src="images/tmicon7.jpg" alt="">
            </div>  
          </div>
      
        </div>
      </div>
       
    </section>
   <section class="footer">
      <div class="container myfooterblock">
          <div class="row mfbr1">
              <div class="col-md-3 ftcol">
                  <img src="images/ftlogo.png" alt="">
                  <span><i class="fa-solid fa-phone"></i>
                      +92 305 1115551</span>
                  <a href="">
                      <span>
                          <i class="fa-solid fa-envelope"></i>
                          Contact@NaskSoft.com</span>
                  </a>

              </div>
              <div class="col-md-3 ftcol">
                  <h4>Menu</h4>
                  <a href="">Home</a>
                  <a href="">About Us</a>
                  <a href="">Blogs</a>
                  <a href="">Contact Us</a>


              </div>
              <div class="col-md-3 ftcol">
                  <h4>Qucik Links</h4>
                  <a href="">Privacy Policy</a>
                  <a href="">Terms and Conditions</a>
                  <a href="">Cookie Policy </a>

              </div>
              <div class="col-md-3 ftcol">
                  <h4>Quick Links</h4>
                  <div class="social-links">
                      <a href=""><i class="fa-brands fa-facebook"></i></a>
                      <a href=""><i class="fa-brands fa-twitter"></i></a>
                      <a href=""><i class="fa-brands fa-linkedin"></i></a>
                      <a href=""><i class="fa-brands fa-pinterest"></i></a>
                      <a href=""><i class="fa-brands fa-instagram"></i></a>
                      <a href=""><i class="fa-brands fa-youtube"></i></a>
                      <a href=""><i class="fa-brands fa-tiktok"></i></a>

                  </div>
                 
                  <span>2023,NaskSoft,All Rights Reserved</span>

              </div>

          </div>

      </div>
      <div class=" subfooter">
        
          <div class="row sbftr1">
              <div class="col-md-4 sbftcol">
                  <h3>Subscribe to </br> Our Newsletter</h3>
              </div>
              <div class="col-md-6 sbftcol">
                  <p>Stay up-to-date with the latest trends in digital marketing and receive exclusive tips and insights by subscribing to our newsletter.</p>
                  <div class="sbfinput">
                  <input type="text" placeholder="Enter Your Email">
                  <button class="btn">Subscribe</button>
                  </div>
              </input>
              </div>
          </div>
      </div>


   </section>
    <!-- Casrousel links -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js'></script>
    <script  src="./script.js"></script>
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>