<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">

    <link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>Nasksoft-marketing</title>
</head>
<body>
    <section class="header">
        <!-- <img src="images/headerimg.jpg" alt=""> -->
        <img class="vector1" src="images/vector1.png" alt="">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid mycontainer">
              <a class="navbar-brand" href="#">
                <img src="images/logo.jpg" alt="">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse mynavbar " id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 mynavitems">
                  <li class="nav-item">
                    <a class="nav-link active item" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link item" href="#">Digital Design</a>
                  </li>
                 
                  <li class="nav-item">
                    <a class="nav-link  item" href="#" aria-disabled="true">Digital Marketing</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link  item" href="#" aria-disabled="true">custome Development</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link item" href="#" aria-disabled="true">Case Studies</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link  item" href="#" aria-disabled="true">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link item btn btn-primary navbtn" href="#" aria-disabled="true">contact us</a>
                  </li>
                </ul>
                
              </div>
            </div>
        </nav>
        <div class="container-fluid mycontainer">
            <div class=" row headercard">
                <div class="col-md-6 dmsec1col1">
                    <img src="images/dmimg1.png" alt="">
    
                </div>
                <div class="col-md-6 heading col-sm-12">
                    <div class="heading dmsec1col2">
                        <h3>ONE STOP &nbsp; <span class="solution-anim">SOLUTION TO</span> <br>
                            ALL DIGITAL MARKETING</h3>
                            
        
                        <p>To build a strong connection with customers, you need a comprehensive digital marketing campaign. At NaskSoft, we focus on the key digital marketing strategies needed to support your business’s growth and expand your customer base.</p>
                        <button class="btn ">Contact Us</button>
                        
                        <div class="images-content">
                            
                            <div class="blinkcircl1"> 
                            </div>
                            <div class="blinkcircl2">   
                            </div>
                        </div>
    
                    </div>
    
                </div>
    
            </div>

        </div>
    </section>
    <section class="section2">
       <div class="container-fluid mycontainer">
        <div class="row">
            <div class="col-md-5 msec2col1"> 
               <div class="sec2contentarea">
                   <div class="feature2 dmfeature2 ">
                       <span>FEATURED SERVICES</span>
       
                   </div>
                   
                   <span class="span0"> Digital Marketing </br> Services</span>
                   
       
               </div>
               <img src="images/shadow1.png" alt="">
   
            </div>
             <div class="col-md-7 sec2col2">
               <div class="parentrow sec2cards1">
                   <div class="child1p1">
                       <div class="p1card1">
                           <img src="images/c1.jpg" alt="">
                           <div class="card-content">
                           <h6>Copy Writing</h6>
                           <ul>
                               <li><Span>Blog Articles</Span>
                                   </li>
                                   <li><Span>Blog Articles</Span>
                                       </li>
                                       <li><Span>Blog Articles</Span>
                                           </li>
                                           <li><Span>Blog Articles</Span></li>
                           </ul>
       
                           </div>
       
                       </div>
   
                   </div>
   
                   <div class="child2p1">
                       <div class="p1card4">
                           <img src="images/c1.jpg" alt="">
                           <div class="card-content4">
                           <h6>Search Engine  </br>
                               optimization services</h6>
                           <ul>
                               <li><Span>Blog Articles</Span>
                                   </li>
                                   <li><Span>Blog Articles</Span>
                                       </li>
                                       <li><Span>Blog Articles</Span>
                                           </li>
                                           <li><Span>Blog Articles</Span>
                                           </li>
                                           <li><Span>Blog Articles</Span>
                                           </li>
                                           <li><Span>Blog Articles</Span>
                                           </li>
                                           <li><Span>Blog Articles</Span>
                                           </li>
                                           
                           </ul>
       
                           </div>
       
                       </div>
                       <div class="p1card2">
                           <img src="images/c1.jpg" alt="">
                           <div class="card-content">
                           <h6>Paid  Media </br>
                               Marketing</h6>
                           <ul>
                               <li><Span>Blog Articles</Span>
                                   </li>
                                   <li><Span>Blog Articles</Span>
                                       </li>
                                       <li><Span>Blog Articles</Span>
                                           </li>
                                           
                           </ul>
       
                           </div>
       
                       </div>
                   </div>
               
                   <div class="child3p1">
                       <div class="p1card5">
                           <img src="images/c1.jpg" alt="">
                           <div class="card-content5">
                           <h6>Social Media &  </br>
                               Email Marketing</h6>
                           <ul>
                               <li><Span>Blog Articles</Span>
                                   </li>
                                   <li><Span>Blog Articles</Span>
                                       </li>
                                       <li><Span>Blog Articles</Span>
                                           </li>
                                           <li><Span>Blog Articles</Span>
                                           </li>
                                           <li><Span>Blog Articles</Span>
                                           </li>
                                           <li><Span>Blog Articles</Span>
                                           </li>
                                         
                                           
                           </ul>
       
                           </div>
       
                       </div>
                       <div class="p1card3">
                           <img src="images/c1.jpg" alt="">
                           <div class="card-content">
                           <h6>E-Commerce </br>
                               Marketing</h6>
                           <ul>
                               <li><Span>Blog Articles</Span>
                                   </li>
                                   <li><Span>Blog Articles</Span>
                                       </li>
                                       <li><Span>Blog Articles</Span>
                                           </li>
                                           
                           </ul>
       
                           </div>
       
                       </div>
                   </div>   
   
               </div>
             </div>
        </div>

       </div>

    </section>
    <section class="section3">
        <div class="sec3row1">
            <div class="sec3bgimg">
                <img class="vector2" src="images/Vector2.png" alt="">
                <img class="vector3" src="images/Vector 3.png" alt="">

            </div>
        </div>
        <div class="row sec3-content ">
            <div class="col-md-12 sec3r1col1">
              <div class="sec2contentarea ddsec3col1">
                <div class="feature">
                   <span>Work Process</span>

                </div>
        
                <span class="span0"> How to get Started</span>
        

              </div>
              <div class="timeline">
           
                <div class="history-tl-container">
                    <ul class="tl">
                        <li class="tl-item li1" ng-repeat="item in retailer_history">
                          <div class="tlimages-content">
                            <div class="tlblinkcircl1">
                            </div>
                            <div class="tlblinkcircl2">   
                            </div>
                          </div>
                          <div class="timline-content">
                            <h4>Analysis</h4>
                            <p>
                                Before a contract is ever signed, we pop the hood on your business with a detailed appraisal of your SEO strategy. You get an in-depth report on what’s working, what’s not, and what opportunities we’ve found for serious growth
                            </p>
      
                        </div>                  
                        </li>
                        <li class="tl-item li2" ng-repeat="item in retailer_history">
                          <div class="tlimages-content">
                            <div class="tlblinkcircl1">
                            </div>
                            <div class="tlblinkcircl2">   
                            </div>
                          </div>
                          <div class="timline-content1">
                            <h4>Strategy</h4>
                            <p>
                                Before a contract is ever signed, we pop the hood on your business with a detailed appraisal of your SEO strategy. You get an in-depth report on what’s working, what’s not, and what opportunities we’ve found for serious growth
                            </p>
      
                        </div>                
                        </li>
                        <li class="tl-item li3" ng-repeat="item in retailer_history">
                          <div class="tlimages-content">
                            <div class="tlblinkcircl1">
                            </div>
                            <div class="tlblinkcircl2">   
                            </div>
                          </div>
                          <div class="timline-content">
                            <h4>Analysis</h4>
                            <p>
                                Before a contract is ever signed, we pop the hood on your business with a detailed appraisal of your SEO strategy. You get an in-depth report on what’s working, what’s not, and what opportunities we’ve found for serious growth
                            </p>
      
                        </div> 
                        </li>
                        <li class="tl-item li4" ng-repeat="item in retailer_history">
                          <div class="tlimages-content">
                            <div class="tlblinkcircl1">
                            </div>
                            <div class="tlblinkcircl2">   
                            </div>
                          </div>
                          <div class="timline-content1">
                            <h4>Strategy</h4>
                            <p>
                                Before a contract is ever signed, we pop the hood on your business with a detailed appraisal of your SEO strategy. You get an in-depth report on what’s working, what’s not, and what opportunities we’ve found for serious growth
                            </p>
      
                        </div> 
                        
                        </li>
        
                    </ul>
        
                    </div>
    
              </div>

            </div>

        </div>
        

    </section>

    <section class="footer">
        <div class="container myfooterblock">
            <div class="row mfbr1">
                <div class="col-md-3 ftcol">
                    <img src="images/ftlogo.png" alt="">
                    <span><i class="fa-solid fa-phone"></i>
                        +92 305 1115551</span>
                    <a href="">
                        <span>
                            <i class="fa-solid fa-envelope"></i>
                            Contact@NaskSoft.com</span>
                    </a>

                </div>
                <div class="col-md-3 ftcol">
                    <h4>Menu</h4>
                    <a href="">Home</a>
                    <a href="">About Us</a>
                    <a href="">Blogs</a>
                    <a href="">Contact Us</a>


                </div>
                <div class="col-md-3 ftcol">
                    <h4>Qucik Links</h4>
                    <a href="">Privacy Policy</a>
                    <a href="">Terms and Conditions</a>
                    <a href="">Cookie Policy </a>

                </div>
                <div class="col-md-3 ftcol">
                    <h4>Quick Links</h4>
                    <div class="social-links">
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin"></i></a>
                        <a href=""><i class="fa-brands fa-pinterest"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-youtube"></i></a>
                        <a href=""><i class="fa-brands fa-tiktok"></i></a>

                    </div>
                   
                    <span>2023,NaskSoft,All Rights Reserved</span>

                </div>

            </div>

        </div>
        <div class="container subfooter">
            <div class="row sbftr1">
                <div class="col-md-4 sbftcol">
                    <h3>Subscribe to Our Newsletter</h3>

                </div>
                <div class="col-md-6 sbftcol">
                    <p>Stay up-to-date with the latest trends in digital marketing and receive exclusive tips and insights by subscribing to our newsletter.</p>
                    <div class="sbfinput">
                        <input type="text" placeholder="Enter Your Email">
                        <button class="btn">Subscribe</button>
                        </div>
                </input>
                </div>

            </div>
           

        </div>


    </section>
     

    <!-- bootstrap links -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>

    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  
</body>
</html>