.tmimages img{
  width: 60px!important;
  height: 60px!important;
  position: absolute;
}
.col1{
  position: relative;
}
@media screen and (max-width: 768px) {
  .col1{
    display: none;
  }
}
.tmicon1{
  top: 37%;
    right: 46%;
}
.tmicon2{
  top: 17%;
    right: 31%;
}
.tmicon3{
  top: 53%;
    right: 26%;
}
.tmicon4{
  bottom: 7%;
    right: 46%;
}
.tmicon5{
  bottom: 31%;
  left: 27%;
}
.tmicon6{
  top: 20%;
    left: 26%;
}
.tmicon7{
  top: -5%;
  right: 47%;
}
.carasoule-content{
  display: flex;
    flex-direction: column;
    text-align: center;
    gap: 11px;
}
.carasoule-content span{
  background-color: #D4EDFF;
    padding: 2px;
    color: #2791DE;
    border-radius: 23px;
    font-size: 24px;
    font-weight: 500;
}
.carasoule-content h2{
  color: #00293E;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  font-family: 'Quicksand';

}
.carasoule-content p{
  color: #222425;
  font-weight: 400;
  font-size: 20px;
  font-family:Montserrat ;
}
.carasoule-content .ratings-stars{
  color: gold;
}